<?xml version='1.0' encoding='utf-8'?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <Resource name="jdbc/alpha_db" auth="Container"
              type="javax.sql.DataSource"
              username="root"
              password=""
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/alpha"
              maxActive="8"
    />

</Context>